<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KarelV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DiO_CS_KarelV1_TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KarelV1.Properties.Settings>
            <setting name="DatabaseUri" serializeAs="String">
                <value>http://lora.localhost/</value>
            </setting>
            <setting name="SteppsCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StepperPostScaler" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DiametterOfWheel" serializeAs="String">
                <value>53.5</value>
            </setting>
            <setting name="DistanceBetweenWheels" serializeAs="String">
                <value>149.5</value>
            </setting>
        </KarelV1.Properties.Settings>
        <DiO_CS_KarelV1_TEST.Properties.Settings>
            <setting name="DatabaseUri" serializeAs="String">
                <value>http://lora.localhost/</value>
            </setting>
            <setting name="SteppsCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StepperPostScaler" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DiametterOfWheel" serializeAs="String">
                <value>53.5</value>
            </setting>
        </DiO_CS_KarelV1_TEST.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
